{% extends 'blog/principal.html' %}

    {% block content %}
    <h1>Cliente</h1>

    <a class="btn btn-default" href="{% url 'blog.views.IngresarCliente' %}"> <img src="http://cdn3.iconfinder.com/data/icons/humano2/128x128/actions/user-group-new.png"
      width="100" height="100" alt="" class="img-responsive"/>
      Agregar Cliente
    </a>

    <a class="btn btn-default" href="{% url 'blog.views.ListaCliente' %}"> <img src="http://www.safenet-inc.es/uploadedImages/images/Icons/Orange-User-Authentication-Icon.png"
      width="100" height="100" alt="" class="img-responsive"/>
      Lista Cliente
    </a>

      <a class="btn btn-default" href="{% url 'blog.views.ListaClienteEditar' %}"> <img src="http://icon-icons.com/icons2/20/PNG/256/businessapplication_edit_male_user_thepencil_theclient_negocio_2321.png"
        width="100" height="100" alt="" class="img-responsive"/>
        Editar Cliente
      </a>
    {% endblock content %}
