{% extends 'blog/principal.html' %}

   {% block content %}
   <h1>Misión</h1>
   <h4>Proporcionar un servicio de transporte de pasajeros y servicios
     complementarios, seguro, eficiente y cómodo que cubra con calidad y
     rentabilidad las rutas establecidas, logrando relaciones armoniosas y
     estables con nuestros clientes, colaboradores y proveedores.</h4>

     <h1>Visión</h1>
     <h4>Ser una empresa de transporte de pasajeros y servicios conexos líder
       en Centroamérica a través de prestar servicios eficientes e innovadores,
       mediante la ejecución de altos estándares de operación, colaboradores identificados
       y motivados al cumplimiento de filosofía del servicio CLASE y proveedores altamente
       calificados. Todo lo anterior en beneficio de nuestros clientes nacionales y extranjeros.</h4>
   {% endblock %}
