{% extends 'blog/principal.html' %}

    {% block content %}
    <h1>Eliminar Bus</h1>

        {% for post in posts %}
        <p>-----------------------------------------------</p>
        <a class="btn btn-default" href="{% url 'EliminarBus' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <div>
          <h1>Placa Bus: {{ post.placa_bus }}</h1>
          <h4>Modelo : {{ post.modelo_bus }}</h4>
          <h4>No. Asientos : {{ post.no_asiento_bus }}</h4>
          <h4>Imagen Bus:</h4>
            <img src="/media/{{post.imagen_bus}}" width="200px" height="200px"/>
        </div>

        {% endfor %}
    {% endblock content %}
