{% load staticfiles %}


<head>
<title>Servicio de Trasporte</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<!DOCTYPE html>
<html>
<head>
<title>Servicio de Buses</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<script src="js/jquery-1.11.0.min.js"></script>
</head>
<body>
<!--topheader starts-->
<div class="top-header">
	 <div class="container">
		 <div class="top-menu">
			 <span class="menu"> </span>
			 <ul>
				 <li class="active"><a href="{% url 'blog.views.inicio' %}">INICIO</a></li>
				 <li><a href="{% url 'blog.views.IngresarBus' %}">BUS</a></li>
				 <li><a href="{% url 'blog.views.IngresarCliente' %}">CLIENTE</a></li>
				 <li><a href="{% url 'blog.views.IngresarProgramacion' %}">PROGRAMACION</a></li>
				 <li><a href="{% url 'blog.views.IngresarDestino' %}">DESTINOS</a></li>
				 <li><a href="{% url 'blog.views.IngresarReserva' %}">RESERVA</a></li>
					<div class="clearfix"></div>
			 </ul>
				<script>
					$("span.menu").click(function(){
						$(".top-menu ul").slideToggle(200);
					});
				</script>

		 </div>
	  </div>
</div>
<div class="content-section-grid">
		<div class="header">
			 <div class="container">
				 <div class="logo">
						<a href="#"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQsceHrIFcnguIIaXnzXDqLB1nKng92jVgh0gMcbpRGe2G-qY6y" alt="" class="img-responsive"/></a>
				 </div>
				 <div class="social-icons">
				 <ul>
				 <li><a href="#"><span class="pic1"></span></a></li>
				 <li><a href="#"><span class="pic2"></span></a></li>
				 <li><a href="#"><span class="pic3"></span></a></li>
				 <li><a href="#"><span class="pic4"></span></a></li>
				 </ul>
				 <div class="clearfix"></div>
				 </div>
			 </div>
		</div>
		<!--header ends-->
	 <!--banner-->
	 <div class="container">
		 <div class="banner">
			 <div class="banner-info">
			 <h1>Guatemala</h1>
			 <h2>Xela</h2>
			 <p></p>
			 <h2>Coban</h2>
			 <p></p>
			 <h2>Peten</h2>
			 <p></p>
			 </div>
		 </div>
	 </div>
	 <!--banner-->
	 <!--content-->
	 <div class="container">
		 <div class="content">
			 <div class="col-md-8 content-left">
				 <div class="content-left-top">
					 <!--colocar texto -->
					 {% block content %}
           {% endblock %}
						<!--Fin de texto a mostrar-->
				 </div>

				 <div class="clearfix"></div>
			 </div>
			 <div class="col-md-4 content-right">


				 <div class="right-grid2">
					 <ul>
						 <li><span></span></li>
						 <li><h3>Horarios</h3></li>
					 </ul>


				 </div>
				 </div>
				 <div class="clearfix"></div>
		 </div>
	 </div>
	 <!--content/-->
</div>
	 <!--fotter-->
	 <div class="fotter">
		 <div class="container">

			 <div class="col-md-4 left right text-left">
				 <h3>ejemplo</h3>
				 <p>texto</p>
				 <a href="#">More info</a>
			 </div>

			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <!--fotter-->
	 <div class="copywrite text-center">
	 <p>Universidad Mesoamericana</p>
	 <p>Ingenieria en Sistemas</p>
	 <p>Proyecto Final Programacion Comercial</p>
	 <p></p>
	 </div>
</body>
</html>
